@model IEnumerable<HCP_Demo.Models.Favorite>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create" asp-route-id="@ViewBag.ID">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Title)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.FavoriteID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
